[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiktoken = "*"
ipdb = "*"
click = "*"
black = "*"
openai = {extras = ["datalib"], version = "*"}
retrying = "*"
tqdm = "*"
chromadb = "*"
langchain = "*"
promptlayer = "*"
prompt-toolkit = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
